# General
.DS_Store

# Build

distribution/build
distribution/artifacts
distribution/Template/Template_rw.dmg

# Xcode project

project.xcworkspace/xcuserdata/

*.xcodeproj/xcuserdata/
*.xcuserdata
*.xcuserstate
