<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>UUID</key>
		<string>UUID1</string>
		<key>groups</key>
		<array>
			<dict>
				<key>attributes</key>
				<dict>
					<key>OSCode</key>
					<dict>
						<key>color</key>
						<string>0.300000|0.300000|0.300000</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>background</key>
					<dict>
						<key>color</key>
						<string>1.000000|1.000000|1.000000</string>
						<key>font</key>
						<string>.AppleSystemUIFont::11.0</string>
					</dict>
					<key>crashedThreadLabel</key>
					<dict>
						<key>color</key>
						<string>0.957716|0.059633|0.075242</string>
						<key>font</key>
						<string>Menlo-Bold::11.0</string>
					</dict>
					<key>executableCode</key>
					<dict>
						<key>color</key>
						<string>0.000000|0.000000|0.000000</string>
						<key>font</key>
						<string>Menlo-Bold::11.0</string>
					</dict>
					<key>key</key>
					<dict>
						<key>color</key>
						<string>0.157741|0.157741|0.157741</string>
						<key>font</key>
						<string>Menlo-Italic::11.0</string>
					</dict>
					<key>lineNumber</key>
					<dict>
						<key>color</key>
						<string>0.42|0.42|0.42</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>memoryAddress</key>
					<dict>
						<key>color</key>
						<string>0.137678|0.193874|0.694335</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>path</key>
					<dict>
						<key>color</key>
						<string>0.595377|0.057079|0.998607</string>
						<key>font</key>
						<string>Menlo-Italic::11.0</string>
					</dict>
					<key>plaintext</key>
					<dict>
						<key>color</key>
						<string>0.000000|0.000000|0.000000</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>registerValue</key>
					<dict>
						<key>color</key>
						<string>0.000000|0.000000|0.000000</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>selection-background</key>
					<dict>
						<key>color</key>
						<string>0.817178|0.979453|0.999665</string>
						<key>font</key>
						<string>.AppleSystemUIFont::11.0</string>
					</dict>
					<key>selection-text</key>
					<dict>
						<key>color</key>
						<string>0.000000|0.000000|0.000000</string>
						<key>font</key>
						<string>.AppleSystemUIFont::11.0</string>
					</dict>
					<key>threadLabel</key>
					<dict>
						<key>color</key>
						<string>0.000000|0.000000|0.000000</string>
						<key>font</key>
						<string>Menlo-Bold::11.0</string>
					</dict>
					<key>uuid</key>
					<dict>
						<key>color</key>
						<string>0.500000|0.500000|0.500000</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>version</key>
					<dict>
						<key>color</key>
						<string>0.756722|0.413476|0.180156</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
				</dict>
				<key>identifier</key>
				<string>Text</string>
				<key>items</key>
				<array>
					<string>background</string>
					<string>selection-background</string>
					<string>selection-text</string>
					<string>plaintext</string>
					<string>key</string>
					<string>threadLabel</string>
					<string>crashedThreadLabel</string>
					<string>executableCode</string>
					<string>OSCode</string>
					<string>memoryAddress</string>
					<string>registerValue</string>
					<string>path</string>
					<string>version</string>
					<string>uuid</string>
				</array>
			</dict>
		</array>
		<key>name</key>
		<string>Default (Light)</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>UUID2</string>
		<key>groups</key>
		<array>
			<dict>
				<key>attributes</key>
				<dict>
					<key>OSCode</key>
					<dict>
						<key>color</key>
						<string>0.700000|0.700000|0.700000</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>background</key>
					<dict>
						<key>color</key>
						<string>0.121569|0.119910|0.140239</string>
						<key>font</key>
						<string>.AppleSystemUIFont::11.0</string>
					</dict>
					<key>crashedThreadLabel</key>
					<dict>
						<key>color</key>
						<string>0.989539|0.441258|0.1867240</string>
						<key>font</key>
						<string>Menlo-Bold::11.0</string>
					</dict>
					<key>executableCode</key>
					<dict>
						<key>color</key>
						<string>1.000000|1.000000|1.000000</string>
						<key>font</key>
						<string>Menlo-Bold::11.0</string>
					</dict>
					<key>key</key>
					<dict>
						<key>color</key>
						<string>0.900000|0.900000|0.900000</string>
						<key>font</key>
						<string>Menlo-Italic::11.0</string>
					</dict>
					<key>lineNumber</key>
					<dict>
						<key>color</key>
						<string>0.42|0.42|0.42</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>memoryAddress</key>
					<dict>
						<key>color</key>
						<string>0.589786|0.767791|0.999091</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>path</key>
					<dict>
						<key>color</key>
						<string>0.991982|0.636635|0.991244</string>
						<key>font</key>
						<string>Menlo-Italic::11.0</string>
					</dict>
					<key>plaintext</key>
					<dict>
						<key>color</key>
						<string>1.000000|1.000000|1.000000</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>registerValue</key>
					<dict>
						<key>color</key>
						<string>0.997655|0.882916|0.443044</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>selection-background</key>
					<dict>
						<key>color</key>
						<string>0.171197|0.532568|0.998515</string>
						<key>font</key>
						<string>.AppleSystemUIFont::11.0</string>
					</dict>
					<key>selection-text</key>
					<dict>
						<key>color</key>
						<string>1.000000|1.000000|1.000000</string>
						<key>font</key>
						<string>.AppleSystemUIFont::11.0</string>
					</dict>
					<key>threadLabel</key>
					<dict>
						<key>color</key>
						<string>0.668288|1.000000|0.433854</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>uuid</key>
					<dict>
						<key>color</key>
						<string>0.400000|0.400000|0.400000</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>version</key>
					<dict>
						<key>color</key>
						<string>0.848609|0.555776|0.191952</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
				</dict>
				<key>identifier</key>
				<string>Text</string>
				<key>items</key>
				<array>
					<string>background</string>
					<string>selection-background</string>
					<string>selection-text</string>
					<string>plaintext</string>
					<string>key</string>
					<string>threadLabel</string>
					<string>crashedThreadLabel</string>
					<string>executableCode</string>
					<string>OSCode</string>
					<string>memoryAddress</string>
					<string>registerValue</string>
					<string>path</string>
					<string>version</string>
					<string>uuid</string>
				</array>
			</dict>
		</array>
		<key>name</key>
		<string>Default (Dark)</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DEA1A282-4860-4CBD-85F5-70CAC95742CB</string>
		<key>groups</key>
		<array>
			<dict>
				<key>attributes</key>
				<dict>
					<key>OSCode</key>
					<dict>
						<key>color</key>
						<string>0.048801|0.048801|0.048801</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>background</key>
					<dict>
						<key>color</key>
						<string>0.994426|0.994426|0.994426</string>
						<key>font</key>
						<string>.AppleSystemUIFont::11.0</string>
					</dict>
					<key>crashedThreadLabel</key>
					<dict>
						<key>color</key>
						<string>0.048801|0.048801|0.048801</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>executableCode</key>
					<dict>
						<key>color</key>
						<string>0.048801|0.048801|0.048801</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>key</key>
					<dict>
						<key>color</key>
						<string>0.047095|0.047095|0.047095</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>lineNumber</key>
					<dict>
						<key>color</key>
						<string>0.42|0.42|0.42</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>memoryAddress</key>
					<dict>
						<key>color</key>
						<string>0.048801|0.048801|0.048801</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>path</key>
					<dict>
						<key>color</key>
						<string>0.048801|0.048801|0.048801</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>plaintext</key>
					<dict>
						<key>color</key>
						<string>0.054302|0.054302|0.054302</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>registerValue</key>
					<dict>
						<key>color</key>
						<string>0.048801|0.048801|0.048801</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>selection-background</key>
					<dict>
						<key>color</key>
						<string>0.884986|0.884986|0.884986</string>
						<key>font</key>
						<string>.AppleSystemUIFont::11.0</string>
					</dict>
					<key>selection-text</key>
					<dict>
						<key>color</key>
						<string>0.000000|0.000000|0.000000</string>
						<key>font</key>
						<string>.AppleSystemUIFont::11.0</string>
					</dict>
					<key>threadLabel</key>
					<dict>
						<key>color</key>
						<string>0.048801|0.048801|0.048801</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>uuid</key>
					<dict>
						<key>color</key>
						<string>1.000000|1.000000|1.000000</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>version</key>
					<dict>
						<key>color</key>
						<string>0.048801|0.048801|0.048801</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
				</dict>
				<key>identifier</key>
				<string>Text</string>
				<key>items</key>
				<array>
					<string>background</string>
					<string>selection-background</string>
					<string>selection-text</string>
					<string>plaintext</string>
					<string>key</string>
					<string>threadLabel</string>
					<string>crashedThreadLabel</string>
					<string>executableCode</string>
					<string>OSCode</string>
					<string>memoryAddress</string>
					<string>registerValue</string>
					<string>path</string>
					<string>version</string>
					<string>uuid</string>
				</array>
			</dict>
		</array>
		<key>monochrome</key>
		<true/>
		<key>name</key>
		<string>Monochrome (Light)</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>93CC4486-C80B-43A0-BDB2-C05006230798</string>
		<key>groups</key>
		<array>
			<dict>
				<key>attributes</key>
				<dict>
					<key>OSCode</key>
					<dict>
						<key>color</key>
						<string>1.000000|1.000000|1.000000</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>background</key>
					<dict>
						<key>color</key>
						<string>0.121569|0.119910|0.140239</string>
						<key>font</key>
						<string>.AppleSystemUIFont::11.0</string>
					</dict>
					<key>crashedThreadLabel</key>
					<dict>
						<key>color</key>
						<string>1.000000|1.000000|1.000000</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>executableCode</key>
					<dict>
						<key>color</key>
						<string>1.000000|1.000000|1.000000</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>key</key>
					<dict>
						<key>color</key>
						<string>1.000000|1.000000|1.000000</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>lineNumber</key>
					<dict>
						<key>color</key>
						<string>0.42|0.42|0.42</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>memoryAddress</key>
					<dict>
						<key>color</key>
						<string>1.000000|1.000000|1.000000</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>path</key>
					<dict>
						<key>color</key>
						<string>1.000000|1.000000|1.000000</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>plaintext</key>
					<dict>
						<key>color</key>
						<string>1.000000|1.000000|1.000000</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>registerValue</key>
					<dict>
						<key>color</key>
						<string>1.000000|1.000000|1.000000</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>selection-background</key>
					<dict>
						<key>color</key>
						<string>0.949198|0.949198|0.949198</string>
						<key>font</key>
						<string>.AppleSystemUIFont::11.0</string>
					</dict>
					<key>selection-text</key>
					<dict>
						<key>color</key>
						<string>0.052241|0.052241|0.052241</string>
						<key>font</key>
						<string>.AppleSystemUIFont::11.0</string>
					</dict>
					<key>threadLabel</key>
					<dict>
						<key>color</key>
						<string>1.000000|1.000000|1.000000</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>uuid</key>
					<dict>
						<key>color</key>
						<string>1.000000|1.000000|1.000000</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>version</key>
					<dict>
						<key>color</key>
						<string>1.000000|1.000000|1.000000</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
				</dict>
				<key>identifier</key>
				<string>Text</string>
				<key>items</key>
				<array>
					<string>background</string>
					<string>selection-background</string>
					<string>selection-text</string>
					<string>plaintext</string>
					<string>key</string>
					<string>threadLabel</string>
					<string>crashedThreadLabel</string>
					<string>executableCode</string>
					<string>OSCode</string>
					<string>memoryAddress</string>
					<string>registerValue</string>
					<string>path</string>
					<string>version</string>
					<string>uuid</string>
				</array>
			</dict>
		</array>
		<key>name</key>
		<string>Monochrome (Dark)</string>
		<key>monochrome</key>
		<true/>
	</dict>
	<dict>
		<key>UUID</key>
		<string>59DEA3E4-BF17-4C09-84D3-B97E531574EF</string>
		<key>groups</key>
		<array>
			<dict>
				<key>attributes</key>
				<dict>
					<key>OSCode</key>
					<dict>
						<key>color</key>
						<string>0.700000|0.700000|0.700000</string>
						<key>font</key>
						<string>Menlo-Italic::14.0</string>
					</dict>
					<key>background</key>
					<dict>
						<key>color</key>
						<string>0.121569|0.119910|0.140239</string>
						<key>font</key>
						<string>.AppleSystemUIFont::11.0</string>
					</dict>
					<key>crashedThreadLabel</key>
					<dict>
						<key>color</key>
						<string>1.000000|0.000000|0.000000</string>
						<key>font</key>
						<string>Menlo-Italic::14.0</string>
					</dict>
					<key>executableCode</key>
					<dict>
						<key>color</key>
						<string>1.000000|1.000000|1.000000</string>
						<key>font</key>
						<string>Menlo-Italic::14.0</string>
					</dict>
					<key>key</key>
					<dict>
						<key>color</key>
						<string>0.900000|0.900000|0.900000</string>
						<key>font</key>
						<string>Menlo-Italic::14.0</string>
					</dict>
					<key>lineNumber</key>
					<dict>
						<key>color</key>
						<string>0.42|0.42|0.42</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>memoryAddress</key>
					<dict>
						<key>color</key>
						<string>0.589786|0.767791|0.999091</string>
						<key>font</key>
						<string>Menlo-Italic::14.0</string>
					</dict>
					<key>path</key>
					<dict>
						<key>color</key>
						<string>0.991982|0.636635|0.991244</string>
						<key>font</key>
						<string>Menlo-Italic::14.0</string>
					</dict>
					<key>plaintext</key>
					<dict>
						<key>color</key>
						<string>1.000000|1.000000|1.000000</string>
						<key>font</key>
						<string>Menlo-Regular::14.0</string>
					</dict>
					<key>registerValue</key>
					<dict>
						<key>color</key>
						<string>0.997655|0.882916|0.443044</string>
						<key>font</key>
						<string>Menlo-Italic::14.0</string>
					</dict>
					<key>selection-background</key>
					<dict>
						<key>color</key>
						<string>0.171197|0.532568|0.998515</string>
						<key>font</key>
						<string>.AppleSystemUIFont::11.0</string>
					</dict>
					<key>selection-text</key>
					<dict>
						<key>color</key>
						<string>1.000000|1.000000|1.000000</string>
						<key>font</key>
						<string>.AppleSystemUIFont::11.0</string>
					</dict>
					<key>threadLabel</key>
					<dict>
						<key>color</key>
						<string>0.668288|1.000000|0.433854</string>
						<key>font</key>
						<string>Menlo-Italic::14.0</string>
					</dict>
					<key>uuid</key>
					<dict>
						<key>color</key>
						<string>0.400000|0.400000|0.400000</string>
						<key>font</key>
						<string>Menlo-Italic::14.0</string>
					</dict>
					<key>version</key>
					<dict>
						<key>color</key>
						<string>0.848609|0.555776|0.191952</string>
						<key>font</key>
						<string>Menlo-Italic::14.0</string>
					</dict>
				</dict>
				<key>identifier</key>
				<string>Text</string>
				<key>items</key>
				<array>
					<string>background</string>
					<string>selection-background</string>
					<string>selection-text</string>
					<string>plaintext</string>
					<string>key</string>
					<string>threadLabel</string>
					<string>crashedThreadLabel</string>
					<string>executableCode</string>
					<string>OSCode</string>
					<string>memoryAddress</string>
					<string>registerValue</string>
					<string>path</string>
					<string>version</string>
					<string>uuid</string>
				</array>
			</dict>
		</array>
		<key>name</key>
		<string>Presentation (Dark)</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EAB59E67-4070-4A69-A7BB-08DA065918C9</string>
		<key>groups</key>
		<array>
			<dict>
				<key>attributes</key>
				<dict>
					<key>OSCode</key>
					<dict>
						<key>color</key>
						<string>0.300000|0.300000|0.300000</string>
						<key>font</key>
						<string>Menlo-Regular::14.0</string>
					</dict>
					<key>background</key>
					<dict>
						<key>color</key>
						<string>1.000000|1.000000|1.000000</string>
						<key>font</key>
						<string>.AppleSystemUIFont::11.0</string>
					</dict>
					<key>crashedThreadLabel</key>
					<dict>
						<key>color</key>
						<string>0.957716|0.059633|0.075242</string>
						<key>font</key>
						<string>Menlo-Regular::14.0</string>
					</dict>
					<key>executableCode</key>
					<dict>
						<key>color</key>
						<string>0.000000|0.000000|0.000000</string>
						<key>font</key>
						<string>Menlo-Regular::14.0</string>
					</dict>
					<key>key</key>
					<dict>
						<key>color</key>
						<string>0.157741|0.157741|0.157741</string>
						<key>font</key>
						<string>Menlo-Regular::14.0</string>
					</dict>
					<key>lineNumber</key>
					<dict>
						<key>color</key>
						<string>0.42|0.42|0.42</string>
						<key>font</key>
						<string>Menlo-Regular::11.0</string>
					</dict>
					<key>memoryAddress</key>
					<dict>
						<key>color</key>
						<string>0.137678|0.193874|0.694335</string>
						<key>font</key>
						<string>Menlo-Regular::14.0</string>
					</dict>
					<key>path</key>
					<dict>
						<key>color</key>
						<string>0.595377|0.057079|0.998607</string>
						<key>font</key>
						<string>Menlo-Regular::14.0</string>
					</dict>
					<key>plaintext</key>
					<dict>
						<key>color</key>
						<string>0.000000|0.000000|0.000000</string>
						<key>font</key>
						<string>Menlo-Regular::14.0</string>
					</dict>
					<key>registerValue</key>
					<dict>
						<key>color</key>
						<string>0.000000|0.000000|0.000000</string>
						<key>font</key>
						<string>Menlo-Regular::14.0</string>
					</dict>
					<key>selection-background</key>
					<dict>
						<key>color</key>
						<string>0.817178|0.979453|0.999665</string>
						<key>font</key>
						<string>.AppleSystemUIFont::11.0</string>
					</dict>
					<key>selection-text</key>
					<dict>
						<key>color</key>
						<string>0.000000|0.000000|0.000000</string>
						<key>font</key>
						<string>.AppleSystemUIFont::11.0</string>
					</dict>
					<key>threadLabel</key>
					<dict>
						<key>color</key>
						<string>0.000000|0.000000|0.000000</string>
						<key>font</key>
						<string>Menlo-Regular::14.0</string>
					</dict>
					<key>uuid</key>
					<dict>
						<key>color</key>
						<string>0.500000|0.500000|0.500000</string>
						<key>font</key>
						<string>Menlo-Regular::14.0</string>
					</dict>
					<key>version</key>
					<dict>
						<key>color</key>
						<string>0.756722|0.413476|0.180156</string>
						<key>font</key>
						<string>Menlo-Regular::14.0</string>
					</dict>
				</dict>
				<key>identifier</key>
				<string>Text</string>
				<key>items</key>
				<array>
					<string>background</string>
					<string>selection-background</string>
					<string>selection-text</string>
					<string>plaintext</string>
					<string>key</string>
					<string>threadLabel</string>
					<string>crashedThreadLabel</string>
					<string>executableCode</string>
					<string>OSCode</string>
					<string>memoryAddress</string>
					<string>registerValue</string>
					<string>path</string>
					<string>version</string>
					<string>uuid</string>
				</array>
			</dict>
		</array>
		<key>name</key>
		<string>Presentation (Light)</string>
	</dict>
</array>
</plist>
